/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|IBM+Plex+Mono|Poppins');
* {
  font-family: 'Didact Gothic'
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Banner */

.nav-bar {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(51, 227, 212, 0.5), rgba(139, 236, 74, 0.5)), url("https://www.bleepstatic.com/content/posts/2016/12/15/Evernote-Logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}

.nav-item {
  display: block;
  height: 15vh;
}

/* SideBar */

.sidebar {
  width: 25%;
  max-height: calc(100vh - 1rem);
  overflow: auto;
  scrollbar-width: none;
}

div.sidebar ul {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

div.sidebar ul li {
  list-style: none;
  border-bottom: 1px solid rgb(187, 187, 187);
  padding: 0 5px;
  background-color: bisque;
  margin: 0 0;
}

div.sidebar ul li:first-child {
  border-top: 1px solid rgb(187, 187, 187);
}

div.sidebar ul li:hover {
  transition: all .25s ease-in-out;
  transform: scale(1.1);
  border: none;
  transition: border 0.25s;
  cursor: pointer;
}

div.sidebar button {
  width: 100%;
}

button {
  cursor: pointer;
}

button.add {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus_icon {
  background: url('../plus.svg') no-repeat;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 3.8rem;
  width: 3.8rem;
  margin-bottom: 1.3rem;
}

.plus_icon_grey {
  background: url('../plus.svg') no-repeat;
  filter: invert(75%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(180%) contrast(86%);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 3.8rem;
  width: 3.8rem;
  margin-bottom: 1.3rem;
}

/* General */

h2, input[name="title"], textarea {
  font-family: 'IBM Plex Mono'
}

p.instructions {
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

.note-editor input[name="title"] {
  font-size: 24px;
  font-weight: 700;
  border: 1px dashed grey;
  margin: 0.5em 0;
  box-sizing: border-box;
}

.note-editor textarea {
  font-size: 1em;
  border: 1px dashed grey;
  box-sizing: border-box;
  resize: none;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px dashed grey;
}

input {
  font-size: 24px;
  height: 40px;
  width: 100%;
  border: none;
}

input::placeholder {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: bolder;
}

/* Layout Styles */

.app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10px);
  margin: 10px 10px 0 10px;
}

.container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.master-detail-element {
  float: left;
  margin: 10px 0px;
  padding: 20px;
  border: 2px dashed grey;
}

.detail {
  width: 75%;
}

.note-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-editor textarea {
  flex: 1;
}

.button-row {
  margin-top: 10px;
}

/* Button Style */

input[type="submit"] {
  height: auto;
  width: auto;
}

button, input[type="submit"] {
  width: 125px;
  border-radius: 200px;
  margin-right: 10px;
  padding: 5px 35px;
  border: 0px;
  background-image: linear-gradient(to right top, #8C33E3, #696CE8, #4A9EEC);
  background-repeat: no-repeat;
  color: white;
  font-size: 14px;
  letter-spacing: 0.5px;
}

button:focus, input[type="submit"]:focus {
  outline: none;
}